
<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 5</b></center>    
<center><b><h1>Krisha Busa | 23010101039 | 23-12-2024</b></center> 
<pre>

# List

### 01) WAP to find sum of all the elements in a List.

In [2]:
l1 = [11,22,33,44,55]
sum = 0 

for i in l1 :
    sum = sum + i

print("Sum : ", sum)

Sum :  165

### 02) WAP to find largest element in a List.

In [8]:
l2 = [2,44,101,77,89]
max = l2[0]

for i in l2 :
    if(i>max) :
        max = i

print("Max : ", max)

Max :  101

### 03) WAP to find the length of a List.

In [10]:
l3 = [0,1,2,3,4,5,6,7,8,9]
count = 0

for i in l3 :
    count = count + 1

print("Count : ", count)

Count :  10

### 04) WAP to interchange first and last elements in a list.

In [12]:
l4 = [11,22,33,44,55,66,77]

temp = l4[0]
l4[0] = l4[6]
l4[6] = temp

l4

[77, 22, 33, 44, 55, 66, 11]

In [14]:
l4[0] , l4[len(l4)-1] = l4[len(l4)-1] , l4[0]

l4

[11, 22, 33, 44, 55, 66, 77]

### 05) WAP to split the List into two parts and append the first part to the end.

In [24]:
l5 = [0,1,2,3,4,5,6,7,8,9]
index = 5 

if 0<=index<=len(l5) :
    first_part = l5[:index]
    second_part = l5[index:]

    l = second_part + first_part

    print("Original list : ", l5)
    print("Modified list : ", l)

Original list :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Modified list :  [5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

### 06) WAP to interchange the elements on two positions entered by a user.

In [26]:
l6 = [1,10,100,10000]

index1 = int(input("Enter index 1 : "))
index2 = int(input("Enter index 2 : "))

l6[index1],l6[index2] = l6[index2],l6[index1]

l6

Enter index 1 :  0
Enter index 2 :  3

[10000, 10, 100, 1]

### 07) WAP to reverse the list entered by user.

In [32]:
l7 = []
n = int(input("Enter the length of list : "))

print("Enter elements into list : ")
for i in range(1,n+1) :
    l7.append(int(input()))

l7 = l7[::-1]

l7

Enter the length of list :  4

Enter elements into list :

 11
 22
 33
 44

[44, 33, 22, 11]

### 08) WAP to print even numbers in a list.

In [34]:
l8 = [1,2,3,4,5,6,7,8,9]

for i in l8 :
    if(i%2==0) :
        print(i)

2
4
6
8

### 09) WAP to count unique items in a list.

In [132]:
l9 = [1,2,3,4,3,2,1,5,6,7,8]

for i in l9 :
    if(l9.count(i) == 1) :
        print(i)

4
5
6
7
8

### 10) WAP to copy a list.

In [40]:
l10 = [0,10,20,30]

l = l10.copy()

l

[0, 10, 20, 30]

### 11) WAP to print all odd numbers in a given range.

In [44]:
n = int(input("Enter n : "))

for i in range(1,n+1) :
    if (i%2!=0) :
        print(i)

Enter n :  5

1
3
5

### 12) WAP to count occurrences of an element in a list.

In [58]:
l1 = [1,2,3,4,3,2,1,3,4,1]

l1.count(1)

3

In [56]:
element = input("Enter elements in the list : ")
n = input("Enter n : ")
count = 0

l1 = element.split()
count = l1.count(n)

count

Enter elements in the list :  1 2 3 4 3 2 1 3 4 1
Enter n :  1

3

### 13) WAP to find second largest number in a list.

In [73]:
l2 = [11,333,22,44,66,55]
l2.sort()

l2[-2]

66

### 14) WAP to extract elements with frequency greater than K.

In [142]:
k = int(input("Enter frequency : "))
l = [1,2,3,4,1,2,3,1,2]
l14 = []

for i in l :
    if (l.count(i)>k) and (i not in l14) :
        l14.append(i)

l14

Enter frequency :  2

[1, 2]

### 15) WAP to create a list of squared numbers from 0 to 9 with and without using List Comprehension.

In [111]:
# with comprehension
l15 = [i**2 for i in range(0,10)]
l15

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [105]:
# without comprehension
l15 = []

for i in range(0,10) :
    l15.append(i**2)

l15

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 16) WAP to create a new list (fruit whose name starts with 'b') from the list of fruits given by user.

In [123]:
l7 = ['banana','mango','berry']

l16 = []
for i in l7 :
    if (i.startswith('b')) :
        l16.append(i)

l16

['banana', 'berry']

### 17) WAP to create a list of common elements from given two lists.

In [115]:
l1 = [1,2,3,4,5]
l2 = [4,5,6,7,8]

l3 = [i for i in l1 if i in l2]
l3

[4, 5]