<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 6</b></center>  
<center><b><h1>Krisha Busa | 23010101039 | 30-12-2024</b></center>   
<pre>

# Tuple

### 01) WAP to find sum of tuple elements.

In [32]:
t1 = (10,20,30,40,50)
total = 0

for i in t1 :
    total = total + i

total

150

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [58]:
t2 = (10, 20, 4, 45, 99, 7, 13)

k = 3

t = sorted(t2)

min_k_elements = t[:k]

max_k_elements = t[-k:]

print("The", k ,"minimum elements are:", min_k_elements)
print("The", k ,"maximum elements are:", max_k_elements)

The 3 minimum elements are: [4, 7, 10]
The 3 maximum elements are: [20, 45, 99]

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [100]:
lt = [(10, 20, 30), (15, 25, 35), (6, 12, 18), (3, 5, 7)]

K = int(input("Enter K : "))

ans = []

for t in lt :
    divisible = True
    
    for i in t :
        if i % K != 0 :
            divisible = False
            break
            
    if divisible :
        ans.append(t)

print("Tuples with all elements divisible by", K, "are:", ans)

Enter K :  2

Tuples with all elements divisible by 2 are: [(10, 20, 30), (6, 12, 18)]

In [98]:
lt = [(10, 20, 30), (15, 25, 35), (6, 12, 18), (3, 5, 7)]

K = int(input("Enter K : "))

ans = [t for t in lt if all(i % K == 0 for i in t)] 

ans

Enter K :  5

[(10, 20, 30), (15, 25, 35)]

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [115]:
li = [1,2,3,4,5]

ans = [(i,i**3) for i in li]

print("List of tuples : ", ans)

List of tuples :  [(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [123]:
li = [(1,2,3),(-1,-2,-3),(1,-2,3),(10,20,30)]

ans = []

for t in li :
    positive = True
    
    for i in t :
        if i < 0 :
            positive = False
            break

    if positive :
        ans.append(t)

ans

[(1, 2, 3), (10, 20, 30)]

In [94]:
li = [(1,2,3),(-1,-2,-3),(1,-2,3),(10,20,30)]

ans = [t for t in li if all(i >= 0 for i in t)] 

ans

[(1, 2, 3), (10, 20, 30)]

### 06) WAP to add tuple to list and vice â€“ versa.

In [155]:
t = (1, 2, 3)
l = [4, 5, 6]

l.append(t)

print("List :", l)

List : [4, 5, 6, (1, 2, 3)]

In [162]:
t = (1, 2, 3)
l = [4, 5, 6]

t = list(t)
t.append(l)
t = tuple(t)

print("Tuple :", t)

Tuple : (1, 2, 3, [4, 5, 6])

### 07) WAP to remove tuples of length K.

In [119]:
lt = [(1, 2), (3, 4, 5), (6, 7, 8), (9, 10)]

K = 3

lt1 = [t for t in lt if len(t) != K]

print("Original list of tuples : ",lt)
print("Modify list of tuples : ",lt1)

Original list of tuples :  [(1, 2), (3, 4, 5), (6, 7, 8), (9, 10)]
Modify list of tuples :  [(1, 2), (9, 10)]

### 08) WAP to remove duplicates from tuple.

In [170]:
t = (1,2,2,3,4,4,5,6,6,7,8,8,9,0,0)

t1 = tuple(set(t))

print("Tuple after removing duplicates:", t1)

Tuple after removing duplicates: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

In [135]:
t = (1, 2, 3, 4, 5)

ans = tuple((t[i] * t[i+1]) for i in range(len(t)-1))

print("Resultant tuple after multiplying adjacent elements:", ans)

Resultant tuple after multiplying adjacent elements: (2, 6, 12, 20)

### 10) WAP to test if the given tuple is distinct or not.

In [172]:
t = (1, 2, 3, 4, 4, 5)

if len(t) == len(set(t)):
    print("The tuple is distinct !!")
else:
    print("The tuple is not distinct !!")

The tuple is not distinct !!

In [174]:
t = (1, 2, 3, 4, 5)

if len(t) == len(set(t)):
    print("The tuple is distinct !!")
else:
    print("The tuple is not distinct !!")

The tuple is distinct !!