## 1. Check Armstrong number

In [40]:
a = int(input("Enter a number : "))

n = len(str(a))

sum = 0
temp = a

while temp > 0 :
   digit = temp % 10
   sum += digit ** n
   temp //= 10

if a == sum :
   print(a,"is an Armstrong number !!")
else:
   print(a,"is not an Armstrong number !!")

Enter a number :  153

153 is an Armstrong number !!

## 2. Find Armstrog numbers in given range

In [9]:
s = int(input("Enter a starting point : "))
e = int(input("Enter a ending point : "))

for a in range(s, e + 1) :
   n = len(str(a))

   sum = 0
   temp = a
    
   while temp > 0 :
       digit = temp % 10
       sum += digit ** n
       temp //= 10

   if a == sum:
       print(a)

Enter a starting point :  100
Enter a ending point :  2000

153
370
371
407
1634

## 3. Convert Decimal to Binary,Octal,Hexadecimal

In [20]:
decimal = int(input("Enter a decimal value : "))

print("Decimal     : ",decimal)
print("Binary      : ",bin(decimal))
print("Octal       : ",oct(decimal))
print("Hexadecimal : ",hex(decimal))

Enter a decimal value :  14

Decimal     :  14
Binary      :  0b1110
Octal       :  0o16
Hexadecimal :  0xe

## 4. Check Whether a String is Palindrome or Not

In [38]:
s1 = input("Enter a string : ")

s1 = s1.lower()

if s1 == s1[::-1] :
    print("The string is a palindrome !!")
else:
    print("The string is not a palindrome !!")

Enter a string :  HeyyeH

The string is a palindrome !!

## 5. Sort alphabetically the words from a string

In [61]:
s = input("Enter a string : ")

words = sorted(s.lower().split())

print("The sorted words are :")
print(" \n".join(words))

Enter a string :  Heyy this is python

The sorted words are :
heyy
is
python
this

## 6. Pattern-1 (Half Pyramid-*)

In [65]:
n = int(input("Enter number of rows: "))

for i in range(n) :
    for j in range(i+1) :
        print("* ", end="")
    print()

Enter number of rows:  5

*
* *
* * *
* * * *
* * * * *

## 7. Pattern-2 (Half Pyramid-numbers)

In [69]:
n = int(input("Enter number of rows: "))

for i in range(n) :
    for j in range(i+1) :
        print(j+1, end=" ")
    print()

Enter number of rows:  5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 8. Pattern-3 (inverted half pyramid-*)

In [72]:
n = int(input("Enter number of rows: "))

for i in range(n, 0, -1) :
    for j in range(0, i) :
        print("* ", end=" ")   
    print()

Enter number of rows:  5

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

## 9. Pattern-4 (inverted half pyramid-numbers)

In [74]:
n = int(input("Enter number of rows: "))

for i in range(n, 0, -1) :
    for j in range(1, i+1) :
        print(j, end=" ")   
    print()

Enter number of rows:  5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## 10. Pattern-5 (Full Pyramid)

In [90]:
n = int(input("Enter number of rows: "))
k = 0

for i in range(1, n+1) :
    for space in range(1, (n-i)+1) :
        print(end="  ")
   
    while k!=(2*i-1) :
        print("* ", end="")
        k += 1
        
    k = 0
    print()

Enter number of rows:  5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *